<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>One Rep Max Calculator</title>
    <script src="../static/scripts/index.js"></script>
    <link rel="stylesheet" href="../static/styles/index.css">
</head>
<body>
    <div class="navbar">
        <h2 class="navbar-header"> One Rep Max Calculator </h2>
    </div>
    <br>
    <div class="container">
        <div class="input-container">
            <label for="weight_lifted"> Weight Lifted </label>
            <input id="weight_lifted" class="calculator-inputs" type="number">
        </div>
        <div class="input-container">
            <label for="num_reps"> Number of Reps </label>
            <input id="num_reps" class="calculator-inputs" type="number">
        </div>
        <br>
        <div>
            <button class="calculate-button" type="button" onclick="test()">
                Calculate
            </button>
        </div>
    </div>
</body>
</html>